@model TeleworldShop.Web.Infrastructure.Core.PaginationSet<TeleworldShop.Web.Models.ProductViewModel>
@{
    var keyword = (string)ViewBag.Keyword;
    ViewBag.Title = "Result for: " + keyword;
    ViewBag.MetaKeyword = "Result for: " + keyword;
    ViewBag.MetaDescription = "Result for: " + keyword;
    Layout = "~/Views/Shared/Layouts.cshtml";
}

<div style="margin-top:180px" class="women-product">
    @if (Model.Count > 0)
    {
        <div class="w_content">
            <div class="women">
                <a href=""><h4>Result for: @keyword - <span>@Model.TotalCount products</span> </h4></a>
                <ul class="w_nav">
                    <li>Sort: </li>
                    <li><a class="active" href="?page=@Model.Page&keyword=@keyword&sort=popular">Popular</a></li> |
                    <li><a href="?page=@Model.Page&keyword=@keyword&sort=new">Latest</a></li> |
                    <li><a href="?page=@Model.Page&keyword=@keyword&sort=discount">Sale</a></li> |
                    <li><a class="fa fa-arrow-up" aria-hidden="true" href="?page=@Model.Page&keyword=@keyword&sort=lowtohigh"></a></li>
                    <li><a class="fa fa-arrow-down" aria-hidden="true" href="?page=@Model.Page&keyword=@keyword&sort=hightolow"></a></li>
                    <div class="clearfix"> </div>
                </ul>
                <div class="clearfix"> </div>
            </div>
        </div>

        <div class="grid-product">
            @foreach (var product in Model.Items)
            {
                var url = "/" + product.Alias + ".p-" + product.Id + ".html";
                <div class="col-sm-4 col-xs-12 padding-none col-fix20">
                    <div class="product-row">
                        <a href="@url"></a>
                        <div class="product-row-img">
                            <a href="@url">
                                <img class="product-row-thumbnail" src="@product.Image" alt="@product.Name" />
                            </a>
                            <div class="product-row-price-hover">
                                <a href="@url">
                                    <div class="product-row-note pull-left">
                                        Click to view detail
                                    </div>
                                </a>
                                <a class="product-row-btnbuy pull-right btnAddToCart" data-id="@product.Id" href="#">
                                    Add to cart
                                </a>
                            </div>
                        </div>
                        <h2 class="product-row-name">@product.Name</h2>
                        <div class="product-row-info">
                            <p>@product.Description</p>
                            <div class="product-row-price pull-left">
                                @if (product.PromotionPrice.HasValue)
                                {
                                    <del>@product.Price.ToString("N0")₫</del>
                                    <br />
                                    <span class="product-row-sale">
                                        @(product.Quantity == 0 ? "Contact: 0362537131" : product.PromotionPrice.Value.ToString("N0") + "₫")
                                    </span>
                                }
                                else
                                {
                                    <br />
                                    <span class="product-row-sale">
                                        @(product.Quantity == 0 ? "Contact: 0362537131" : product.PromotionPrice.Value.ToString("N0") + "₫")
                                    </span>
                                }
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
            }
            @if (Model.TotalPages > 1)
            {
                // Create numeric links
                var startPageIndex = Math.Max(1, Model.Page - Model.MaxPage / 2);
                var endPageIndex = Math.Min(Model.TotalPages, Model.Page + Model.MaxPage / 2);

                <nav style="text-align:center">
                    <ul class="pagination">
                        @if (Model.Page > 1)
                        {
                            <li class="page-item">
                                <a href="?page=1" aria-label="First" class="page-link">
                                    <i class="fa fa-angle-double-left"></i>
                                </a>
                            </li>
                            <li class="page-item">
                                <a href="?page=@(Model.Page-1)" aria-label="Previous" class="page-link">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                            </li>
                        }

                        @for (int i = startPageIndex; i <= endPageIndex; i++)
                        {
                            if (Model.Page == i)
                            {
                                <li class="page-item active"><a href="?page=@i" title="Page @i">@i</a></li>
                            }
                            else
                            {
                                <li class="page-item"><a href="?page=@i" title="Page @i">@i</a></li>
                            }
                        }
                        @if (Model.Page < Model.TotalPages)
                        {
                            <li class="page-item">
                                <a class="page-link" href="?page=@(Model.Page+1)" aria-label="Next">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page=@Model.TotalPages" aria-label="Last">
                                    <i class="fa fa-angle-double-right"></i>
                                </a>
                            </li>
                        }
                    </ul>
                </nav>
            }
        </div>
    }
    else
    {
        <div class="text-center">No item found.</div>
    }


</div>
