@model TeleworldShop.Web.Models.HomeViewModel
@{
    ViewBag.Title = Model.Title;
    ViewBag.MetaKeyword = Model.MetaKeyword;
    ViewBag.MetaDescription = Model.MetaDescription;
    Layout = "~/Views/Shared/Layouts.cshtml";
}
@section footerJs{
    <script src="/Assets/client/js/jquery.wmuSlider.js"></script>
    <script>
        $('.example1').wmuSlider();
    </script>
}
<div style="margin-top:170px" class="shoes-grid">
    <div class="wrap-in">
        <div class="wmuSlider example1 slide-grid">
            <div class="wmuSliderWrapper">
                @foreach (var slide in Model.Slides)
                {
                    <article style="position: absolute; width: 100%; min-height: 600px; max-height: 600px; opacity: 0;">
                        <div class="banner-matter">
                            <div class="col-md-5 banner-bag">
                                <img class="img-responsive" src="@slide.Image" alt="@slide.Name" />
                            </div>
                            <div class="col-md-7 banner-off">
                                @Html.Raw(slide.Content)
                            </div>

                            <div class="clearfix"> </div>
                        </div>
                    </article>

                }
            </div>
            <ul class="wmuSliderPagination">
                @for (int i = 0; i < Model.Slides.Count(); i++)
                {
                    <li><a href="#" class="">i</a></li>
                }
            </ul>
        </div>
    </div>
    <div class="products">
        <h5 class="latest-product">Latest Products</h5>
        <a class="view-all" href="/phone.pc-11.html?page=1">View All<span> </span></a>
    </div>
    <div class="product-left">
        @foreach (var product in Model.LastestProducts)
        {
            var url = "/" + product.Alias + ".p-" + product.Id + ".html";
            <div class="col-sm-4 col-xs-12 padding-none col-fix20">
                <div class="product-row">
                    <a href="@url"></a>
                    <div class="product-row-img">
                        <a href="@url">
                            <span class="ico-product"></span>
                            <img class="product-row-thumbnail" src="@product.Image" alt="@product.Name" />
                        </a>
                        <div class="product-row-price-hover">
                            <a href="@url">
                                <div class="product-row-note pull-left">
                                    Click to view detail
                                </div>
                            </a>
                            <a class="product-row-btnbuy pull-right btnAddToCart" data-id="@product.Id" href="#">
                                Add to cart
                            </a>
                        </div>
                    </div>
                    <h2 class="product-row-name">@product.Name</h2>
                    <div class="product-row-info">
                        <div class="product-row-price pull-left">
                            @if (product.PromotionPrice.HasValue)
                            {
                                <del>@product.PromotionPrice.Value.ToString("N0")₫</del>
                                <br />
                                <span class="product-row-sale">
                                    @(product.Price == 0 ? "Contact: 0362537131" : product.Price.ToString("N0") + "₫")
                                </span>

                            }
                            else
                            {
                                <br />
                                <span class="product-row-sale">
                                    @(product.Price == 0 ? "Contact: 0362537131" : product.Price.ToString("N0") + "₫")
                                </span>
                            }
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="products">
        <h5 class="latest-product">Top Selling</h5>
        <a class="view-all" href="/phone.pc-11.html?page=1&sort=discount">View All<span> </span></a>
    </div>
    <div class="product-left">
        @foreach (var product in Model.TopSaleProducts)
        {
            var url = "/" + product.Alias + ".p-" + product.Id + ".html";
            <div class="col-sm-4 col-xs-12 padding-none col-fix20">
                <div class="product-row">
                    <a href="@url"></a>
                    <div class="product-row-img">
                        <a href="@url">
                            <span class="ico-product"></span>
                            <img class="product-row-thumbnail" src="@product.Image" alt="@product.Name" />
                        </a>
                        <div class="product-row-price-hover">
                            <a href="@url">
                                <div class="product-row-note pull-left">
                                    Click to view detail
                                </div>
                            </a>
                            <a class="product-row-btnbuy pull-right btnAddToCart" data-id="@product.Id" href="#">
                                Add to cart
                            </a>
                        </div>
                    </div>
                    <h2 class="product-row-name">@product.Name</h2>
                    <div class="product-row-info">
                        <div class="product-row-price pull-left">
                            @if (product.PromotionPrice.HasValue)
                            {
                                <del>@product.PromotionPrice.Value.ToString("N0")₫</del>
                                <br />
                                <span class="product-row-sale">
                                    @(product.Price == 0 ? "Contact: 0362537131" : product.Price.ToString("N0") + "₫")
                                </span>

                            }
                            else
                            {
                                <br />
                                <span class="product-row-sale">
                                    @(product.Price == 0 ? "Contact: 0362537131" : product.Price.ToString("N0") + "₫")
                                </span>
                            }
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>